.add-category-position{
    right: 45px;
}

.mat-mdc-form-field
{
    font-size: 14px;
    width: 99%;
}

mat-label
{
    margin-bottom: auto;
    margin-top: auto;
}

.category-image
{
    margin-top: 5%;
    margin-bottom: 5%;
}

.custom-container .mat-dialog-container {
  border-radius: 20px !important;
}
