<div class="row" style="margin-left: 0.5%;">
    <div class="col-12">
      <div class="card my-4">

        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <div class="d-flex ml-6">
              <div class="ml-3"><h3 class="text-white text-capitalize pl-4 pt-2 add-category-position"><b>consultation historique d'entraînement</b></h3></div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

  <mat-form-field [color]="'accent'" style="margin-left: 1.5%;">
    <mat-label>Chercher membre</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Saisir un nom du membre pour chercher" #input>
  </mat-form-field>

<table style="margin-left: 1.5%;" mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
 
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>Image</th>
    <td mat-cell *matCellDef="let element" (click)="showUserTrainingHistories(element.user.userId)">
      <img [src]="getUserImage(element.user.userPicture)" class="user-image avatar avatar-sm me-3 border-radius-lg" alt="user1" height="400" width="400" style="cursor: pointer;" (click)="goToUserProfile(element.user.userEmail)">
    </td>
  </ng-container>

  <ng-container matColumnDef="full name">
    <th mat-header-cell *matHeaderCellDef>Nom & Prénom</th>
    <td mat-cell *matCellDef="let element" (click)="showUserTrainingHistories(element.user.userId)"> {{element.user.userLastName}} {{element.user.userFirstName}} </td>
  </ng-container>

  <ng-container matColumnDef="management">
    <th mat-header-cell *matHeaderCellDef  class="text-center">Gestion</th>
    <td mat-cell *matCellDef="let element" class="text-center" (click)="showUserTrainingHistories(element.user.userId)">
      <a class="btn btn-link px-3 mb-0" href="javascript:" (click)="goToUserProfile(element.user.userEmail)"><i class="material-icons text-sm me-2">assignment</i>Détails</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element" (mouseover)="showUserTrainingHistories(element.user.userId)">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        @if (expandedElement === element) 
        {
          <mat-icon>keyboard_arrow_up</mat-icon>
        } 
        @else 
        {
          <mat-icon>keyboard_arrow_down</mat-icon>
        }
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length" style="text-align: center;">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <table mat-table [dataSource]="userTrainingHistories" class="mat-elevation-z8">
        
          <!-- Position Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element"> {{element.checkInTime | date: "dd MMM yyyy" : "fr"}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="checkin time">
            <th mat-header-cell *matHeaderCellDef>Temps Entrée</th>
            <td mat-cell *matCellDef="let element"> {{element.checkInTime | date: "HH:mm"}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="checkout time">
            <th mat-header-cell *matHeaderCellDef>Temps Sortie</th>
            <td mat-cell *matCellDef="let element"> {{element.checkOutTime | date: "HH:mm"}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="trainingHistoryColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: trainingHistoryColumns;"></tr>
        </table>
        
        
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="3" *ngIf="dataSourceBackUp.data.length === 0">Il n'y a pas encore d'historique</td>
    <td class="mat-cell" colspan="3" *ngIf="dataSourceBackUp.data.length > 0 && dataSource.data.length ===  0 "><h2 style="font-size: medium; color: #F44335; font-size: medium; text-align: center;">Il n'y a pas des membres avec le nom: {{input.value}}</h2></td>
  </tr>
</table>
