<div class="modal-content" style="margin: 10px">

    <div class="modal-header">
      <h1 class="modal-title pl-1" *ngIf="!data.operation">Éditer Offre</h1>
      <h1 class="modal-title pl-1" *ngIf="data.operation">Ajouter Offre</h1>

      <button type="button" class="close" (click)="closeDialog()">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    <div class="modal-body">

      <div>
        <form [formGroup]="optionFormValue">

              <div class="form-group">
                <label for="offerTitleInput" class="text-dark font-weight-bold">Titre Option</label>
                <input type="text" pattern="^[A-Za-z1-9éèçïîô ]*[A-Za-z1-9éèçïîô][A-Za-z1-9éèçïîô ]*$" class="form-control border border-secondary pl-2 round"  id="optionTitleInput" placeholder="saisir nom option" formControlName="optionTitle" (blur)="checkValidityForm()" (keyup)="checkValidityForm()">
                <h5 class="text-danger text-bold ml-2" *ngIf="optionFormValue.controls['optionTitle'].invalid && optionFormValue.controls['optionTitle'].touched">Merci de saisir un nom valide</h5>
              </div>


              <div class="row">
                <div class="col text-center">
                  <button type="button" class="btn btn-dark mr-3" (click)="closeDialog()">Annuler</button>
                  <button type="button" id="updateButton" class="btn btn-primary mr-3" (click)="updateOffer()" *ngIf="!data.operation">Éditer</button>
                  <button type="button" id="addButton" class="btn btn-primary mr-3" (click)="addOffer()" *ngIf="data.operation" disabled>Ajouter</button>
                </div>
              </div>
        </form>
      </div>
    </div>
</div>