
<div class="modal-content" style="margin: 10px">

    <div class="modal-header">

      <h1 class="modal-title pl-1" *ngIf="isAddOperation" >Ajouter Activité</h1>
      <h1 class="modal-title pl-1" *ngIf="!isAddOperation" >Éditer Activité</h1>

      <button type="button" class="close" (click)="closeDialog()">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    <div class="modal-body">

      <div>
        <form [formGroup]="activityFormValue">

              <div class="form-group">
                <label for="activityNameInput" class="text-dark font-weight-bold" >Nom Activité</label>
                <input type="text" pattern="^[A-Za-zéèçïîô _]*[A-Za-zéèçïîô][A-Za-zéèçïîô _]*$" class="form-control border border-secondary pl-2 round"  id="activityNameInput" placeholder="saisir nom activité" formControlName="activityName" (blur)="checkValidityForm()" (keyup)="checkValidityForm()">
                <h5 id="activityNameInputMessage" class="text-danger text-bold ml-2" *ngIf="activityFormValue.controls['activityName'].invalid && activityFormValue.controls['activityName'].touched">Merci de saisir un nom valide</h5>
              </div>

              <div class="form-group">
                <label for="activityDescriptionInput" class="text-dark font-weight-bold">Description Activité</label>
                <textarea type="text" class="form-control border border-secondary pl-2 round" id="activityDescriptionInput" placeholder="saisir description activité" formControlName="activityDescription" (blur)="checkValidityForm()" (keyup)="checkValidityForm()"></textarea>
                <h5 class="text-danger text-bold ml-2" *ngIf="this.activityFormValue.controls['activityDescription'].invalid && this.activityFormValue.controls['activityDescription'].touched">Merci de saisir une description</h5>
              </div>

              <div class="form-group">
                  <label for="categoryImageInput" class="text-dark font-weight-bold">Image Activité</label>
                  <input type="file" class="form-control border border-secondary pl-2 round" id="categoryImageInput" formControlName="activityImage" #selectFile (change)="onFileSelected($event)">
              </div>

              <div class="form-group">
                <label for="categorySelectList" class="text-dark font-weight-bold">Catégorie Activité</label>
                <select class="form-control border border-dark pl-2 round" id="categorySelectList" formControlName="activityCategory" (change)="getCategory();checkValidityForm()" (blur)="checkValidityForm()">
                  <option *ngFor="let category of categories" [value]="category.catId">{{category.catName}}</option>
                </select>
                <h5 id="activityNameInputMessage" class="text-danger text-bold ml-2" *ngIf="activityFormValue.controls['activityCategory'].invalid && activityFormValue.controls['activityCategory'].touched">Merci de choisir une catégorie</h5>
              </div>

              <div class="row">
                <div class="col text-center">
                  <button type="button" class="btn btn-dark mr-3" (click)="closeDialog()">annuler</button>
                  <button type="button" id="addButton" class="btn btn-primary mr-3" (click)="addActivityWithOneImage()" *ngIf="isAddOperation" disabled>Ajouter</button>
                  <button type="button" id="updateButton" class="btn btn-primary mr-3" (click)="updateActivity(activityId)" *ngIf="!isAddOperation">Éditer</button>
                </div>
              </div>
        </form>
      </div>
    </div>
</div>

