
<div class="container-fluid px-2 px-md-4">
    <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
      <span class="mask  bg-gradient-primary  opacity-6"></span>
    </div>
    <div class="card card-body mx-3 mx-md-4 mt-n6">
      <div class="row gx-4 mb-2">
  
        <!-- <img [src]="categoryImageUrl" height="600" width="500" alt="Category Image" class="mb-3"> -->
  
        <div class="row">
          <div class="col-lg-4 col-md-6 ml-2">
            <div class="nav-wrapper position-relative">
              <h2 class="mb-0">Activité</h2>
            </div>
          </div>
  
            <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
              <div class="nav-wrapper position-relative end-0">
                <ul class="nav nav-pills nav-fill p-1 bg-color" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:" role="tab" aria-selected="false" (click)="updateDialog(this.subscriptionId)">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path fill="#fff" d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                      <span class="ms-1 text-white">Modifier cet abonnement</span>
                    </a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
  
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-xl-0 mb-4 ml-1">
                <div class="card" style="width: 14rem; margin-top: 5%;">
                  <img class="card-img-top act-img" [src]="activityImage" height="150" width="288" alt="Card image cap" (click)="goToActivityDetails()">
                  <div class="card-body">
                    <a class="card-text" href="javascript:" (click)="goToActivityDetails()"><h3 class="text-center">{{subscription.subscriptionActivity.actName}}</h3></a>
                  </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3 text-end">
                <div class="nav-wrapper position-relative ">
                    <div class="card" style="width: 14rem; margin-top: 5%; margin-left: 23%;">
                        <img class="card-img-top" src="../../assets/img/monthly-subscription.jpg" height="150" width="288" alt="Card image cap" >
                        <div class="card-body">
                          <a class="card-text"><h3 class="text-center">{{subscription.subscriptionPrice}} dinars/mois</h3></a>
                        </div>
                      </div>
                </div>
            </div>
          </div>
        </div>

        
            
               
              
                  <div class="main-body">
                  <div class="mat-elevation-z8">
                    <table>

                      <thead>
                        <tr>
                          <th class="text-start"><span class="ml-3">Image</span></th>
                          <th  class="text-center">Nom & Prénom</th>
                          <th class="text-center">Date Début</th>
                          <th  class="text-center">Date fin</th>
                          <th class="text-center" style="margin-left: -5%;">Gestion</th>
                        </tr>
                      </thead>
                      
                      <tbody *ngFor="let member of members">
                        <tr>
                          <td class=""><img [src]="getUserImage(member.userPicture)" class="category-image avatar avatar-sm me-3 border-radius-lg activity-image act-img ml-2" alt="Category Image" (click)="goToUserProfileDetails(member.userEmail)"></td>
                          <td  class="text-center"> {{member.userLastName}} {{member.userFirstName}} {{members.length}} </td>
                          <td  class="text-center"> {{subscription.subscriptionStartDate | date: "dd MMM yyyy"}} </td>
                          <td  class="text-center"> {{subscription.subscriptionEndDate | date: "dd MMM yyyy"}} </td>
                          <td class="text-center">
                            <button class="btn btn-link px-3 mb-0" href="javascript:" (click)="goToUserProfileDetails(member.userEmail)"><i class="material-icons text-sm me-2">assignment</i>Détails</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  </div>
    </div>
</div>
  