<div class="row">
    <div class="col-12">
      <div class="card my-4">

        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <div class="d-flex ml-6">
              <div class="ml-5"><h3 class="text-white text-capitalize pl-4 pt-2 add-category-position"><b>gestion des offres</b></h3></div>
              <div class="ml-auto transparent-color mr-4 pr-5 text-left"><button type="button" class="btn btn-dark mr-3 text-white add-category-position" (click)="addOrUpdateDialog()"><i class="material-icons text-sm me-2 text-white">add</i>AJOUTER</button></div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

<mat-form-field [color]="'accent'">
  <mat-label>Chercher offre</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Saisir un nom d'offre pour chercher" #input>
</mat-form-field>
