<div class="row" style="margin-left: 0.5%;">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <h3 class="text-white text-capitalize ps-3 "  style="font-weight: bold">Liste des utilisateurs</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 style="margin-left: 1.5%;"> Filtrer la recherche </h2>
<div class="parent-cell mr-3 ml-3" style="margin-left: 1.5%;">

  <div class="child-roles ">
    <select class="form-control border border-primary pl-2 round select-picker" id="userRoleSelect" name="userRole" width="100%" (change)="filterByRole()">
      <option >Tous les utilisateurs</option>
      <option >MEMBRE</option>
      <option >COACH</option>
      <option >ADMIN</option>
    </select>
  </div>

  <div class="child-search" >
    <mat-form-field [color]="'accent'" width="100%">
      <mat-label>Chercher utilisateur</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Saisir un nom d'utilisateur pour chercher" #input>
    </mat-form-field>
  </div>
</div>


<div class="main-body" style="margin-left: 1.5%;">
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Image Column -->
        <ng-container matColumnDef="Image">
          <th mat-header-cell *matHeaderCellDef>Image</th>
          <td mat-cell *matCellDef="let user">
            <img [src]="getUserImage(user.userPicture)" class="user-image avatar avatar-sm me-3 border-radius-lg" alt="user1" height="400" width="400" (click)="goToUserProfile(user)" style="cursor: pointer;">
          </td>
        </ng-container>

        <!-- Account Type Column -->
        <ng-container matColumnDef="Type de compte">
          <th mat-header-cell *matHeaderCellDef  class="text-center">Type de compte</th>
          <td mat-cell *matCellDef="let user" class="text-center"> {{user.roles[0].roleName}} </td>
        </ng-container>

          <!-- E-mail Column -->
          <ng-container matColumnDef="E-mail">
            <th mat-header-cell *matHeaderCellDef  class="text-center">Email</th>
            <td mat-cell *matCellDef="let user" class="text-center"> {{user.userEmail}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Nom & Prénom">
            <th mat-header-cell *matHeaderCellDef  class="text-center">Nom & Prénom</th>
            <td mat-cell *matCellDef="let user" class="text-center"> {{ user.userFirstName }} {{ user.userLastName }} </td>
          </ng-container>

          <ng-container matColumnDef="Séances Privées Restantes">
            <th mat-header-cell *matHeaderCellDef  class="text-center">Séances Privées Restantes</th>
            
              <td mat-cell *matCellDef="let user" class="text-center">
                <span *ngIf="user.privateSessionsNumber">{{user.privateSessionsNumber}} Séance(s)</span>
                <span *ngIf="!user.privateSessionsNumber">N/A</span>
            </td>
          </ng-container>

        <ng-container matColumnDef="État">
          <th mat-header-cell *matHeaderCellDef  class="text-center">État</th>
          <td mat-cell *matCellDef="let user" class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512" *ngIf="user.userIsEnabled"><path fill="#36bb1b" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512" *ngIf="!user.userIsEnabled"><path fill="#e13d3d" d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="Gestion">
          <th mat-header-cell *matHeaderCellDef  class="text-center">Gestion</th>
          <td mat-cell *matCellDef="let user" class="text-center">

            <a class="btn btn-link px-3 mb-0" href="javascript:" (click)="goToUserProfile(user)"><i class="material-icons text-sm me-2">assignment</i>Détails</a>
            <a class="btn btn-link text-dark px-3 mb-0" href="javascript:" data-toggle="modal" data-target="#exampleModal" (click)="editProfile(user)"><i class="material-icons text-sm me-2">edit</i>Éditer</a>
            <a class="btn btn-link text-danger px-3 mb-0" href="javascript:" data-toggle="modal" data-target="#exampleModal" (click)="deleteUser(user)"><i class="material-icons text-sm me-2">delete</i>Supprimer</a>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4" *ngIf="dataSource.data.length === 0">Il n'y a pas encore des utilisateurs</td>
          <td class="mat-cell" colspan="4" *ngIf="dataSource.data.length > 0 && dataSource.filteredData.length ===  0 ">Il n'y a pas des utilisateurs avec le nom {{input.value}}</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>

