.add-speciality-btn
{
  padding-right: 68%; 
  margin-left: 0.25%;
}

.bg-color{
  background-color: #EC407A;
}

.btn-update-profile-image{
  position: absolute;
  cursor: pointer;
  top: -10px;
  right: -10px;
  background-color: #000000;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: auto;
  text-align: center;
  padding: 5px;
}

.speciality-image
{
  cursor: pointer;
  margin-top: -22%;
}

.topright 
{
  position: sticky;
  margin-left: 95.3%;
  margin-top: 1%;
  z-index: 1;
  cursor: pointer; 

}

.card
{
  z-index: 2;
}

.delete-speciality
{
  margin-bottom: 300%;
}