

<main class="main-content mt-0 ">

  <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Mot de passe oublié</h4>
              </div>
            </div>
            <div class="card-body" [ngClass]="isLoading ? 'disableBlur' : 'enableBlur'">
                <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

              <p class="mt-4 text-sm text-center" [ngClass]="isLoading ? 'enableBlur': 'disableBlur'">
                <a routerLink="" class="text-primary text-gradient font-weight-bold">Se connecter</a>
              </p>

              <form role="form" class="text-start " #loginForm="ngForm" [ngClass]="isLoading ? 'enableBlur': 'disableBlur'">

                <div>
                  <div class="input-group input-group-outline my-3">
                    <input type="email" [disabled]="!isSendingEmailOperation" placeholder="Saisir votre E-mail" class="form-control" id="email" name="email" ngModel #email="ngModel" required email>
                  </div>
                  <span class="error" *ngIf="email.touched">
                    <h5 class="text-danger text-bold ml-1" style="margin-top: -10px;" *ngIf="email.errors?.['required']">Ce champs obligatoire</h5>
                    <h5 class="text-danger text-bold ml-1" style="margin-top: -10px;" *ngIf="email.errors?.['email']">Merci saisir un email valide</h5>
                  </span>
                </div>

                <div *ngIf="isSendingCodeOperation">
                  <div class="input-group input-group-outline my-3">
                    <input type="text" placeholder="Saisir votre code de validation" class="form-control" id="code" name="code" ngModel #code="ngModel" required (keyup)="confirmationCode = code.control.getRawValue()">
                  </div>
                  <span class="error" *ngIf="code.touched">
                    <h5 class="text-danger text-bold ml-1" *ngIf="code.errors?.['required'] && code.touched">Ce champs obligatoire</h5>
                    <h5 class="text-danger text-bold ml-1" *ngIf="code.control.getRawValue().length > 6 && code.touched">Merci de saisir 6 caractères maximum</h5>
                    <h5 class="text-danger text-bold ml-1" *ngIf="confirmationCode.toString().length > 0 && confirmationCode.toString().length < 6 && code.touched">Votre code est composé de 6 chiffres</h5>
                    <h5 class="text-danger text-bold ml-1" *ngIf="!isDigit() && code.control.getRawValue().length > 0 && code.touched">Merci de saisir uniquement des chiffres</h5>
                  </span>
                </div>

                <div *ngIf="isSendingPasswordOperation">
                  <div class="input-group input-group-outline mb-3">
                    <input type="{{ isPasswordVisible ? 'text' : 'password' }}" placeholder="Nouveau mot de passe" class="form-control" name="password" ngModel #password="ngModel" required (keyup)="passwordValue = password.control.getRawValue()">
                  </div>
                  <span class="error" *ngIf="password.touched">
                    <h5 class="text-danger text-bold ml-1" style="margin-top: -10px;" *ngIf="password.errors?.['required']">Ce champs est obligatoire</h5>
                    <h5 class="text-danger text-bold ml-1" style="margin-top: 2%;" *ngIf="password.touched && password.value.length < 6 && password.value.length > 0">Merci de saisir 6 caractères en minimum</h5>
                  </span>
                </div>

                <div *ngIf="isSendingPasswordOperation">
                  <div class="input-group input-group-outline mb-3">
                    <input type="{{ isPasswordVisible ? 'text' : 'password' }}" placeholder="Confirmer le nouveau mot de passe" class="form-control" name="newPassword" ngModel #newPassword="ngModel" required (keyup)="confirmPasswordValue = newPassword.control.getRawValue()">
                  </div>
                  <span class="error" *ngIf="newPassword.touched">
                    <h5 class="text-danger text-bold ml-1" style="margin-top: -10px;" *ngIf="newPassword.errors?.['required']">Ce champs est obligatoire</h5>
                    <h5 class="text-danger text-bold ml-1" style="margin-top: 2%;" *ngIf="newPassword.touched && newPassword.value.length < 6 && newPassword.value.length > 0">Merci de saisir 6 caractères en minimum</h5>
                    <h5 class="text-danger text-bold ml-1" style="margin-top: 2%;" *ngIf="!isIdenticalPasswords() && passwordValue.length > 0 && confirmPasswordValue.length > 0">Les mots de passe saisis non identiques</h5>
                  </span>
                </div>

                <div *ngIf="isSendingPasswordOperation">
                  <input type="checkbox" id="showPass" name="showPass" (click)="togglePasswordVisibility()" class="accent-color-primary-color"/>
                  <label for="showPass">Afficher le mot de passe</label>
                </div>

                <div class="text-center">
                  <button (click)="sendVerificationCode(loginForm)" *ngIf="isSendingEmailOperation" class="btn bg-gradient-primary w-100 my-4 mb-2" [disabled]="loginForm.invalid">Envoyer le code</button>
                  <button (click)="checkVerificationCode(loginForm)" *ngIf="isSendingCodeOperation" class="btn bg-gradient-primary w-100 my-4 mb-2" [disabled]="loginForm.invalid || !isDigit() || confirmationCode.toString().length < 6 || confirmationCode.toString().length > 6">Vérifier le code</button>
                  <button (click)="changePassword(loginForm)" *ngIf="isSendingPasswordOperation" class="btn bg-gradient-primary w-100 my-4 mb-2" [disabled]="loginForm.invalid || !isIdenticalPasswords() || confirmPasswordValue.length < 6 || passwordValue.length < 6">Changer le mot de passe</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>




