
<div class="modal-content" style="margin: 10px">

  <div class="modal-header">

    <h1 class="modal-title pl-1" >Modifier vos informations</h1>

  </div>

  <div class="modal-body">

    <div>
      <form [formGroup]="profileFormValue">

        <div class='parent'>
          <div class="form-group child">
            <label for="userFirstNameInput" class="text-dark font-weight-bold" >Prénom</label>
            <input type="text" pattern="^[A-Za-zéèçïîô _]*[A-Za-zéèçïîô][A-Za-zéèçïîô _]*$" class="form-control border border-secondary pl-2 round"  id="userFirstNameInput" placeholder="saisir votre prénom" formControlName="userFirstName"/>
<!--            <h5 class="text-danger text-bold ml-2" >Merci de saisir un prénom valide</h5>-->
          </div>
          <span class="margin-center"  ></span>
          <div class="form-group child">
            <label for="userLastNameInput" class="text-dark font-weight-bold" >Nom</label>
            <input type="text" pattern="^[A-Za-zéèçïîô _]*[A-Za-zéèçïîô][A-Za-zéèçïîô _]*$" class="form-control border border-secondary pl-2 round"  id="userLastNameInput" placeholder="saisir votre nom" formControlName="userFirstName"/>
<!--            <h5 class="text-danger text-bold ml-2" >Merci de saisir un nom valide</h5>-->
          </div>
        </div>


        <div class="form-group parent">
          <label for="userDescriptionInput" class="text-dark font-weight-bold">Description(Bio)</label>
          <textarea type="text" class="form-control border border-secondary pl-2 round" id="userDescriptionInput" placeholder="saisir une description" formControlName="userDescription" ></textarea>
<!--            <h5 class="text-danger text-bold ml-2" >Merci de saisir une description</h5>-->
        </div>


        <div class='parent'>
          <div class="form-group child">
            <label for="userBirthDateInput" class="text-dark font-weight-bold" >Date de naissance</label>
            <input type="date"  class="form-control border border-secondary pl-2 round"  id="userBirthDateInput" formControlName="userBirthDate"/>
<!--            <h5 class="text-danger text-bold ml-2" >Merci de saisir un prénom valide</h5>-->
          </div>
          <span class="margin-center"></span>
          <div class="form-group child">
            <label for="userPhoneNumberInput" class="text-dark font-weight-bold">Numéro de téléphone</label>
            <input type="text" class="form-control border border-secondary pl-2 round" id="userPhoneNumberInput" placeholder="saisir votre numéro de téléphone" formControlName="userPhoneNumber" />
<!--            <h5 class="text-danger text-bold ml-2" >Merci de sélectionner votre date de naissance</h5>-->
          </div>
        </div>


        <div class='parent'>
          <div class="form-group child">
            <label for="userCountryInput" class="text-dark font-weight-bold" >Pays</label>
            <input type="text"  class="form-control border border-secondary pl-2 round"  id="userCountryInput" placeholder="saisir votre pays" formControlName="userCountry"/>
<!--            <h5 class="text-danger text-bold ml-2" >Merci de saisir un pays valide</h5>-->
          </div>
          <span class="margin-center"></span>
          <div class="form-group child">
            <label for="userStateInput" class="text-dark font-weight-bold">État</label>
            <input type="text" class="form-control border border-secondary pl-2 round" id="userStateInput" placeholder="Saisir votre état" formControlName="userState" />
<!--            <h5 class="text-danger text-bold ml-2" >Merci de sélectionner votre état</h5>-->
          </div>
        </div>


        <div class='parent'>
          <div class="form-group child">
            <label for="userCityInput" class="text-dark font-weight-bold">Ville</label>
            <input type="text" class="form-control border border-secondary pl-2 round" id="userCityInput" placeholder="saisir votre ville" formControlName="userCity" />
<!--            <h5 class="text-danger text-bold ml-2" >Merci de sélectionner votre ville</h5>-->
          </div>
          <span class="margin-center"></span>
          <div class="form-group child">
            <label for="userZipCodeInput" class="text-dark font-weight-bold">Code postal</label>
            <input type="text" class="form-control border border-secondary pl-2 round" id="userZipCodeInput" placeholder="saisir votre code postal" formControlName="userZipCode" />
<!--            <h5 class="text-danger text-bold ml-2" >Merci de sélectionner votre code postal</h5>-->
          </div>
        </div>


        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-dark mr-3" (click)="closeDialog()">annuler</button>
            <button type="button" id="updateButton" class="btn btn-primary mr-3" (click)="updateProfile()">Éditer</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

