.parent-cell {
  display: table;
  margin: 1rem;
  text-align: center;
}

.parent {
  margin: 1rem;
  text-align: center;
}


.child-cell {
  display: table-cell;
  vertical-align: middle;
  width: 33.3%;
}

.child {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}


.margin-center
{
  margin-right: 1rem;
  margin-left: 1rem;
}

.parent-child {
  width: 80%;
  vertical-align: middle;
}

.inline-input input {
  float:left;
}
