/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hand-pointer:hover{
  cursor: pointer;
}

.accent-color-primary-color{
  accent-color: #e91e63;
}

.mat-mdc-form-field 
{
    font-size: 14px;
    width: 99%;
}

mat-label
{
    margin-bottom: auto;
    margin-top: auto;
}