

<main class="main-content  mt-0">
  <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Créer un compte</h4>
              </div>
            </div>
            <div class="card-body">

              <form >

                <div class="form-group" browser-default custom-select>
                  <label for="userRoleSelect" class="text-primary font-weight-bold" >Type de compte</label>
                 
                  <select class="form-control border border-primary pl-2 round select-picker" id="userRoleSelect" name="userRole" >
                    <option >MEMBRE</option>
                    <option>COACH</option>
                    <option>ADMIN</option>
                  </select>

                </div>

                <div class="form-group">
                  <label for="userEmailInput" class="text-primary font-weight-bold" >Email</label>
                  <input type="email" [(ngModel)]="member.userEmail" class="form-control border border-primary pl-2 round" id="userEmailInput" name="userEmail" placeholder="saisir votre adresse Email" >
                </div>

                <div class="form-group">
                  <label for="userLastName" class="text-primary font-weight-bold">Nom</label>
                  <input type="text" [(ngModel)]="member.userLastName" class="form-control border border-primary pl-2 round" id="userLastName" name="userLastName" placeholder="saisir votre nom" >
                </div>

                <div class="form-group">
                  <label for="userFirstName" class="text-primary font-weight-bold">Prénom</label>
                  <input type="text" [(ngModel)]="member.userFirstName" class="form-control border border-primary pl-2 round" id="userFirstName" name="userFirstName" placeholder="saisir votre prénom" >
                </div>

                <div class="form-group">
                  <label for="userPassword" class="text-primary font-weight-bold">Mot de passe</label>
                  <input type="password" [(ngModel)]="member.userPassword" class="form-control border border-primary pl-2 round" id="userPassword" name="userPassword" placeholder="saisir votre mot de passe" >
                </div>

                <div class="row">
                  <div class="col text-center">
                    <button type="submit" (click)="addMember()" class="btn bg-gradient-primary w-100 my-4 mb-2" >Enregistrer</button>
                  </div>
                </div>

              </form>


            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
