
<div class="container-fluid px-2 px-md-4">
    <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
      <span class="mask  bg-gradient-primary  opacity-6"></span>
    </div>
    <div class="card card-body mx-3 mx-md-4 mt-n6">
      <div class="row gx-4 mb-2">

        <img [src]="getImage(activityImageUrl)" height="600" width="500" alt="Activity Image" class="mb-3">


        <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
          <div class="nav-wrapper position-relative end-0">
            <ul class="nav nav-pills nav-fill p-1 bg-color" role="tablist">
              <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:" role="tab" aria-selected="false" (click)="updateDialog(this.activityId)">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path fill="#fff" d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                  <span class="ms-1 text-white">Modifier cette activité</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>


      <div class="row">
        <div class="row">
          <div class="row">

            <div class="col-9">
              <div class="card card-plain h-100">
                <div class="card-header pb-0 p-3">
                  <div class="row">
                    <div class="col-md-8 d-flex align-items-center">
                      <h1 class="mb-0 ml-8">{{ activityTitle }}</h1>
                    </div>
                  </div>
                </div>
                <div class="card-body p-3">
                  <p class="text-sm">
                    {{ activityDescription }}
                  </p>
                  <hr class="horizontal gray-light my-4">
                </div>
              </div>
            </div>

            <div class="col-3 text-end">
              <div class="card card-plain h-100">
                <div class="card-header pb-0 p-3">
                  <div class="row">
                    <div class="col-md-8 d-flex align-items-center">
                      <h1 class="mb-0 ml-4">Catégorie</h1>
                    </div>
                  </div>
                </div>
                <div class="card-body p-3">
                  <img [src]="getImage(activityCategoryImage)" height="150" width="250"  alt="img-blur-shadow" class="img-fluid shadow border-radius-xl mb-2">
                  <p>{{activityCategoryDescription}}</p>
                </div>
              </div>

            </div>
          </div>




          <div class="col-12 mt-4">
            <div class="mb-5 ps-3">
              <h2 class="mb-1">Album</h2>
              <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3" style="position: absolute; right: 0; ">
                <div class="nav-wrapper position-relative end-0" >
                  <ul class="nav nav-pills nav-fill p-1 bg-color" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:" role="tab" aria-selected="false" (click)="addImages()">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path fill="#fff" d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h360v80H200v560h560v-360h80v360q0 33-23.5 56.5T760-120H200Zm480-480v-80h-80v-80h80v-80h80v80h80v80h-80v80h-80ZM240-280h480L570-480 450-320l-90-120-120 160Zm-40-480v560-560Z"/></svg>
                        <span class="ms-1 text-white">Ajouter des images</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3" style="position: absolute; left: 0; ">
                <div class="nav-wrapper position-relative end-0" >
                  <ul class="nav nav-pills nav-fill p-1 bg-color" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:" role="tab" aria-selected="false" (click)="displayImages(activityImages, false)">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path fill="#fff" d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-480H200v480Zm280-80q-82 0-146.5-44.5T240-440q29-71 93.5-115.5T480-600q82 0 146.5 44.5T720-440q-29 71-93.5 115.5T480-280Zm0-60q56 0 102-26.5t72-73.5q-26-47-72-73.5T480-540q-56 0-102 26.5T306-440q26 47 72 73.5T480-340Zm0-100Zm0 60q25 0 42.5-17.5T540-440q0-25-17.5-42.5T480-500q-25 0-42.5 17.5T420-440q0 25 17.5 42.5T480-380Z"/></svg>
                        <span class="ms-1 text-white">Aperçu les images</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <p class="text-sm">Notre album de {{ activityTitle }}</p>
            </div>



            <div class="row">
              @if ((!activityImages) || (activityImages.length === 0))
              {
                <div class="d-flex justify-content-center">
                  <h2 class="text-center">Il n'y a pas encore des photos dans cet album</h2>
                </div>
              }
              @else
              {
                <mat-grid-list cols="4" rowHeight="2:1">
                  <mat-grid-tile *ngFor="let image of activityImages">

                    <app-card-flip [imageName]=image.imageName [classId]=activityId [classToDelete]=deleteTag (onDataChange)="detectChanges($event)"></app-card-flip>

                  </mat-grid-tile>

                </mat-grid-list>
              }
            </div>
          </div>


          <div class="col-12 mt-4">
            <div class="mb-5 ps-3">
              <h2 class="mb-1">Les Coaches</h2>
               <p class="text-sm">Nos coaches de {{ activityTitle }}</p>
            </div>


            <div class="row">
              @if ((!activityCoaches) || (activityCoaches.length === 0))
              {
                <div class="d-flex justify-content-center">
                  <h2 class="text-center">Il n'y a pas encore des coaches disponibles</h2>
                </div>
              }
              @else
              {
                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4" *ngFor="let coach of activityCoaches">
                  <div class="card" style="width: 14rem; margin-top: 5%;">
                    <img class="card-img-top" [src]="getImage(coach.userPicture)" height="150" width="288" alt="Card image cap" (click)="goToCoachProfile(coach)">
                    <div class="card-body">
                      <a class="card-text" href="javascript:"><h3 class="text-center" (click)="goToCoachProfile(coach)">{{coach.userFirstName + " " + coach.userLastName}}</h3></a>
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>

        </div>
      </div>
    </div>
</div>

